html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
.a {
  color: inherit;
  text-decoration: none;
}
p,
h3 {
  margin: 0;
  padding: 0;
}
.navbar {
  color: #dff6ff;
  font-weight: 500;
  font-size: 1.1rem;
}
* {
  box-sizing: border-box;
}
.flex-column,
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.header {
  height: 10vh;
  gap: 1rem;
  background-color: #06283d;
}
.header img {
  height: 8vh;
}
.container {
  min-height: 80vh;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #dff6ff43;
}
.hero {
  background: url('https://i.ibb.co/VJQdL7N/2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.h2-hero {
  background-color: #dff6ff;
  font-weight: bold;
  font-size: 2rem;
  color: #06283d;
}
.calltoaction {
  background-color: #224e6d;
  padding: 0.5rem;
  color: #dff6ff;
  font-weight: bold;
  border-radius: 0.3rem;
}
.calltoaction:hover {
  color: #cfe5ee;
  background-color: #0a3048;
}
.predios {
  width: 100%;
  padding: 1rem 0 1rem 0;
}
.propietario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: white;
  text-align: start;
  border-radius: 0.3rem;
}
.button {
  background-color: #47b5ff;
  border-radius: 0.3rem;
  color: #0c1e2a;
  font-weight: 500;
  align-self: center;
  border: none;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: #06283d;
  color: #dff6ff;
}
.link-detail {
  background-color: #06283d1f;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  padding: 0.3rem;
}
.input,
.select {
  padding: 0.3rem;
  border: 1px solid #224e6d63;
  border-radius: 0.5rem;
  outline: none;
}
.select {
  cursor: pointer;
}
.bs {
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}
.container-select {
  background-color: #f5fcff;
  width: 100%;
  padding: 1rem;
  gap: .5rem;

}
.descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  gap: 1rem;
  padding: 0 2rem;
}
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.construccion-container {
  gap: 2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.3rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.width-100 {
  width: 100%;
}
.propietario-detail {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0.3rem;
  padding: 1rem;
}
.footer {
  background-color: #06283d;
  color: #dff6ff;
  font-weight: 500;
  min-height: 10vh;
}
.bton-delete,
.bton-edit {
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-weight: 500;
}
.bton-delete {
  background: none;
  border: 1px solid #06283d65;
}
.bton-delete:hover {
  background-color: #633f4a;
  color: #f5e7ec;
}
.bton{
  background: none;
  border: none;
  cursor: pointer;
}
.fw {
  font-weight: 500;
}
/* --------------------------------------- */
.ping {
  --uib-size: 50px;
  --uib-speed: 1s;
  --uib-color: #06283d;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
}

.ping::before,
.ping::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--uib-color);
  animation: pulse7132 var(--uib-speed) linear infinite;
  transform: scale(0);
  opacity: 0;
}

.ping::after {
  animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes pulse7132 {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@media screen and (min-width: 1440px) {
  .descriptions {
    width: 85%;
  }
}
